
.col1, .col2, .col3, .col4 {
	float: left;
}


.col1{

	color: green;
	background-color: yellow;
	width: 25%;
	height: 25%;
	box-sizing: border-box;
	text-align: center;
	border: solid 1px;
	padding: 20px;
}


.col2 {

	color: yellow;
	background-color: blue;
	width: 25%;
	height: 25%;
	box-sizing: border-box;
	text-align: center;
	padding: 10px;	
}

.col3 {

	color: red;
	background-color: yellow;
	width: 25%;
	height: 25%;
	box-sizing: border-box;
	text-align: center;
	border: solid 1px;
	padding: 10px;
}	

.col4 {

	color: white;
	background-color: blue;
	width: 25%;
	height: 25%;
	box-sizing: border-box;
	text-align: center;
}	